<div *ngIf="isLogged;else other_content">
  <a routerLink="/profile">{{username}}</a><br>
</div>
<ng-template #other_content>
  <a routerLink="/login">Log in</a><br><br>
  <a routerLink="/register">Create new account</a>
</ng-template>
<br><br>
<a routerLink="/companies">Companies</a>
<h1>Search for vacancies</h1>
<input type="text" [(ngModel)]="searchVacancy"><br><br>
<button (click)="search()">Search</button>
<hr>
<ul>
  <li *ngFor="let vacancy of vacancies">
    <h4>Name : {{vacancy.name}}</h4>
    <h4>Salary : {{vacancy.salary}}</h4>
    <a routerLink="/vacancies/{{vacancy.id}}">Подробнее...</a>
    <div class="line"></div>
  </li>
</ul>

